<header>
  <div class="imgbx">
      <img [src]="url1">

  </div>
  <div class="contentbox">
      <div class="form">
          <h2>Welcome</h2>
          <p>Log in to your account to continue</p>
          <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
              <div class="inputbox">
               
                  <input type="text"name=""formControlName="email"class="inp"placeholder="&nbsp;&nbsp;enter email id">
                  <span class="fas fa-user"></span>
                  <small *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched" class="text-danger">&nbsp;Email id is required</small> 
              </div>
              <div class="inputbox">
                  <input type="password"name=""formControlName="password" class="inp"placeholder="&nbsp;&nbsp;enter password">
                  <span class="fas fa-lock"></span>
                  <small *ngIf="myForm.get('password')?.invalid && myForm.get('password')?.touched" class="text-danger">&nbsp; password is required</small> <br>
                </div>
             <a style="color:gray;text-decoration:underline;margin-left: 194px;cursor:pointer;">Forgot password?</a>
              <div class="inputbox">
               <!--  <input [disabled]="" type="submit"value="Log in"> -->
                <button style="margin-left:105px;" type="submit"[disabled]="myForm.invalid"class="btn btn-success" >Log in</button>
            </div>
              <div class="inputbox">
                  <p style="color:grey;"> Don't have an account ?<a style="color: gray;" href="">sign up!</a></p>
              </div>
          </form>
          <div class="icons">
          <div class="footer">
          <a href="https://www.facebook.com/profile.php?id=100008780236894"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
          <a href="https://www.linkedin.com/in/gourish-naik-a79320163/"><i class="fa fa-linkedin"></i></a>
</div>
      </div>
      </div>
</div>
</header>
